/* index.css / JSnetwork Official site / Yone */
@charset "UTF-8";

/* ---------- Main ---------- */
/* ----- main ----- */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 10vw;
}

#pageTitle {
  text-align: center;
}

#main span {
  margin-top: 2em;
}